@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Poppins;
}

/* Header */
header {
  height: 255px;
  background-color: #2b323a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 55px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 40px;
}

.btn-start,
.btn-lap,
.btn-reset {
  width: 95px;
  height: 35px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border: 0;
  border-radius: 4px;
}

.btn-start {
  background-color: #6ebe56;
}

.btn-start:hover {
  background-color: #5ba047;
}

.btn-lap {
  background-color: #717374;
}

.btn-lap:hover {
  background-color: #4f5152;
}

.btn-reset {
  background-color: #ff4646;
}

.btn-reset:hover {
  background-color: #ca3434;
}

/* Laps */
.laps {
  max-width: 500px;
  margin: 0 auto;
}

.lap-item {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  border-bottom: 1px solid #bebec1;
}

.lap-item .number {
  font-size: 16px;
  font-weight: 500;
  color: #bebec1;
}

.lap-item .time {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
